{% extends 'base.html.twig' %}
{% block title %}{{ drink.name }}{% endblock %}

{% block header %}
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
{% endblock %}

{% block body %}
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">

            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src={{ drink.image }} alt="..." /></div>
                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder">{{ drink.name }}</h1>
                    <div class="fs-5 mb-5">
                        <span class="text-decoration-line-through">{{ drink.type }}</span><br>
                        <span class="text-decoration-line-through">{{ drink.glass }}</span>
                    </div>
                    <p class="lead">{{ drink.ingredients }}</p>

                    <p class="lead">{{ drink.instruction }}</p>
                    <div class="d-flex">
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi bi-heart"></i>
                            Favourite
                        </button>
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi bi-download"></i>
                            Download
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
{% endblock %}